  <!-- Navbar -->
  <div id="main-screen">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3" >
        <div class="container-fluid">
          <a class="navbar-brand ms-5" href="#" >LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
              <li class="nav-item ">
                <a class="nav-link ms-3 " aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-3 " href="#">Work</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-3 " href="#">Contact</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link ms-3 " href="#">About Me</a>
              </li>
            </ul>
            
            <ul class="navbar-nav d-flex" id="right-navbar">
              <li class="nav-item">
                  <a href="/dashboard"class="nav-link active" >Dashboard</a>
              </li> 
              <li class="nav-item">
                  <a href="/auth/register"class="nav-link active" >Sign Up</a>
              </li> 
               <li class="nav-item">
               <a href="/auth/login" class="nav-link active" >Login</a>
                </li>            
                  </ul>
                </li>
              </ul>
          </div>
        </div>
      </nav>
      
      <!-- End Navbar -->
