*{
    font-family: poppins;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    /* margin: 0px; */
    padding: 0px;
}

/* sidebar */

.sidebar{
    background-color: #383838;
    width: 240px;
    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    transition: all ease-in .3s;
}

.sidebar.hide{
    width: 90px;
    transition: all ease-in .3s;
}

.main-content{
    background-color: #eeeeee;
    flex-grow: 1;
}

.main{
    padding-top: 30px;
}

.sidebar a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar .description-header{
    font-family: poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    margin-left: 10px;
    text-align: center;
    align-items:center;
    color: white;
}

.sidebar.hide .description-header{
    display: none;
}

.sidebar .header .list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 10px;
    border-radius: 8px;
    height: 60px;
    box-sizing: border-box;
}

.sidebar .header .list-item .icon{
    height: 32px;
    width: 32px;
}

/* home */
.sidebar .main .list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all ease-in 0.2s;
}


.sidebar .main .list-item a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar .main .list-item .description{
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
    justify-content: center;
}

.sidebar.hide .main .list-item .description{
    display: none;
}

.sidebar .main .list-item .icon{
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
}

.sidebar .main .list-item:hover {
    background: orange;
    transition: all ease-in .2s;
}

/* log out */
.sidebar .main .logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    /* margin-top: 680px; */
    border-radius: 8px;
    box-sizing: border-box;
    transition: all ease-in 0.2s;
}

.sidebar .main .logout a{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar .main .logout .description{
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
    justify-content: center;
}

.sidebar.hide .main .logout .description{
    display: none;
}

.sidebar .main .logout .icon{
    height: 32px;
    width: 32px;
}

.sidebar .main .logout:hover {
    background: red;
    transition: all ease-in .2s;
}

/* main screen */

.main-section{
    background: url("/asset/img/logobg.png") ;
    background-position: center center;
    background-size: cover ;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.main-screen .title-text h1{
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    margin-top: 50px;
    margin-left: 40px;
}

/* .table{
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
} */

.btn-add button{
    background-color: orange;
    border: none;
    border-radius: 10px;
    margin: 20px 40px ;
    padding: 10px 15px;
}

.btn-add button a{
    color: #101010;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
/* #menu-button{
    width:32px ;
    position: absolute;
    overflow: hidden;
}

#menu-label{
    position: relative;
    display: block;
    height: 20px;
    cursor: pointer;
}

#menu-checkbox{
    display: none;
}

#hamburger, #menu-label:after, #menu-label:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #101010;
}

#menu-label:after, #menu-label:before{
    content: "";
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu-label:before{
    top: 0;
}

#menu-label:after{
    top: 8px;
}

#hamburger{
    top: 16px;
}

#hamburger:before{
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #111827;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label::before {
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after {
    left: 39px;
}

#menu-checkbox:checked + #menu-label #hamburger::before {
    animation: moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown {
    0%{
        top:0;
    }
    50%{
        top:-27px;
    }
    100%{
        top:-14px;
    }
}

@keyframes shakeUp{
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes shakedown{
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(3deg);
    }    
    90% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotateZ(0deg);
    }   
}  */