 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolith Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/Dashboard.css">
 </head>
 <body>
      
      <div class="container">
         <!-- sidebar -->
         <div class="sidebar">
            <div class="header">
               <div class="list-item">
                  <a href="/home">
                     <img src="/asset/img/logo 1.png" alt="" class="icon">
                     <span class="description-header">DASHBOARD</span>
                  </a>
               </div>
            </div>
           
            <div class="main">
               <div class="list-item">
                  <a href="/home">
                     <img src="/asset/img/home-2-svgrepo-com.svg" alt="" class="icon">
                     <span class="description">Activity</span>
                  </a>
               </div>

               <div class="logout">
                  <a href="/auth/login">
                     <img src="/asset/img/sign-out.svg" alt="" class="icon">
                     <span class="description">Sign Out</span>
                  </a>
               </div>
            </div>
         </div>
         <!-- end sidebar -->
         
         <section class="main-section">
            <div class="main-screen">
               <div class="title-text">
                  <h1>Table User</h1>
               </div>
               <div  class="btn-add">
                  <button>
                     <a href="/userAdd">Add User</a>
                  </button>
               </div>
               <div class="row bg-dark bg-opacity-75 v-100 w-100" style="overflow-y: scroll; height: 430px;">
                  <table class="table text-white p-3">
                      <thead class="text-center ">
                        <tr p-3 >
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Age</th>
                          <th scope="col">Gender</th>
                          <th scope="col">Action</th>
                         
                        </tr>
                      </thead>
                      <tbody class="table-group-divider">
                        <% users.forEach((user,i)=>{ %>                              
                          <tr>
                            <th scope="row"><%= i+1 %> </th>
                            <td> <%= user.name %> </td>
                            <td> <%= user.email %> </td>
                            <td> <%= user.user_game_biodatum?.age %> </td>
                            <td> <%= user.user_game_biodatum?.gender %> </td>
                            
                           
                            <td class="text-center" style="font-size: 20px ">
                              <button style="background-color:grey;" onClick="deleteUser(<%= user.id %>)" id="deleteUser">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                   <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                 </svg>
                               </button>
                        </td>
                      </tr>
                      <% }); %>
                        
                      </tbody>
                    </table>
              </div>

            </div>
              
            
         </section>  

      </div>
   <!-- <script src="/asset/dashboard.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
</body>
<script>
   function deleteUser (userId){
    fetch (`/dashboard/dashboard/${userId}`,{
      method :"delete"
    })
  }
</script> 